.content-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* --------------- FILTER --------------- */
.filter {
    /* background: var(--main-white); */
    width: 250px;
    margin-right: 1rem;
    padding-right: 1rem;
}

.filter h1 {
    font-size: 2rem;
}

.filter-sections {
    margin: 1rem 0;
}

.separator {
    margin: 2rem 0;;
    border: none;
    border-top: 2px solid var(--main-grey);
}

.filter-sections h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: var(--primary-green)
}

.filter-checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

.checkbox {
    width: 18px;
    height: 18px;
}

.checkbox-text {
    margin-left: 8px;
    font-weight: 500;
}

/* --------------- Product LIst --------------- */
.products-center {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.product {
    height: auto;
    color: var(--main-black);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.product-text {
    text-transform: capitalize;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 500;
}

h4 {
    color: var
}

/* --------------- Add Cart Button --------------- */
.img-container {
    position: relative;
    overflow: hidden;
}

.product-img {
    width: 100%;
    min-height: 12rem;
    display: block;
  }

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    display: flex;
    background-color: var(--primary-yellow);
    border: none;
    align-items: center;
    color: var(--main-black);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transform: translateX(101%);
    transition: var(--main-transition);
}

.product:hover .bag-btn {
    transform: translateX(0);
}

.product:hover .product-img {
    opacity: 80%;
    transition: var(--main-transition);
}