@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root {
  /* --primary-green: #50A060;
  --primary-yellow: #f8c58b; */
  --primary-green: #495E57;
  --primary-yellow: #f4dd69;

  --main-white: #EDEFEE;
  --main-black: #2f1e0a;
  --main-grey: #8e8a88;

  --main-spacing: 0.1rem;
  --main-transition: all 0.2s linear; /* all - all properties affected */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: var(--main-spacing);
}

body {
  color: var(--main-black);
  font-family: "Quicksand", sans-serif;
}